$colors: (
    'red': #FF4E50,
    'yellow': #FFA710,
    'green': #19D4CA,
    'blue': #667DF3,
    'gray-intro': #F7F3F2,
    'gray-p': #e3e3e3,
    'gray-input': #d4d4d4,
    'gray-logo': #ccc,
    'dark-footer': #999,
    'dark-p': #666,
    'dark-heading': #444
);

$fonts-primary: Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$fonts-secondary: Roboto, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

$radius: 40px;

$partners: 'red' 'music',
    'yellow' 'camera',
    'green' 'brush',
    'blue' 'airplane';